# email-verification

- **URL:** https://marketplace.gohighlevel.com/docs/ghl/email-isv/email-verification
- **Summary:** Email Verification

[Skip to main content](https://marketplace.gohighlevel.com/docs/ghl/email-isv/email-verification#__docusaurus_skipToContent_fallback)

Version: v3

Documentation for Email ISV API

[📄️Email Verification\
---------------------\
\
Verify Email](https://marketplace.gohighlevel.com/docs/ghl/email-isv/verify-email)
